In [1]:
import pandas as pd
import os

THIS CODE IS ONLY FOR VERIFYING THE SQL PRODUCED OUTPUT IN RESULTS.MD.

In [2]:
sales_path = 'dbt_banxware_assignment/seeds/raw_sales_data.csv'
customers_path = 'dbt_banxware_assignment/seeds/raw_customer_data.csv'

In [16]:
df_sales = pd.read_csv(sales_path)
df_customers = pd.read_csv(customers_path)

In [17]:
df_sales['order_date'] = pd.to_datetime(df_sales['order_date'], format='%m/%d/%Y')
df_clean = df_sales[df_sales['order_status'] == 'Completed'].copy()
df_clean['total_sales_amount'] = df_clean['quantity'] * df_clean['price']
df_clean['year'] = df_clean['order_date'].dt.year
df_clean['month'] = df_clean['order_date'].dt.month
df_2023 = df_clean[df_clean['year'] == 2023].copy()
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 0 to 99
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            68 non-null     int64
 1   order_date          68 non-null     datetime64[ns]
 2   customer_id         68 non-null     int64
 3   product_id          68 non-null     int64
 4   product_name        68 non-null     object
 5   quantity            68 non-null     int64
 6   price               68 non-null     float64
 7   order_status        68 non-null     object
 8   total_sales_amount  68 non-null     float64
 9   year                68 non-null     int32
 10  month               68 non-null     int32
dtypes: datetime64[ns](1), float64(2), int32(2), int64(4), object(2)
memory usage: 5.8+ KB

In [18]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      60 non-null     int64
 1   name    60 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [19]:
df_2023.head(5)

,order_id,order_date,customer_id,product_id,product_name,quantity,price,order_status,total_sales_amount,year,month
0,1001,2023-04-13,2008,3001,Product_3001,9,18.14,Completed,163.26,2023,4
1,1002,2023-12-15,2088,3001,Product_3001,4,17.61,Completed,70.44,2023,12
2,1003,2023-09-28,2063,3010,Product_3010,1,97.11,Completed,97.11,2023,9
3,1004,2023-04-17,2011,3004,Product_3004,4,72.89,Completed,291.56,2023,4
6,1007,2023-01-21,2035,3003,Product_3003,4,46.18,Completed,184.72,2023,1

In [15]:
9*18.14

163.26

In [20]:
# Top 5 Products
q1 = df_2023.groupby('product_id')['total_sales_amount'].sum().sort_values(ascending=False).head(5)
q1

product_id
3003    3207.92
3001    2557.35
3002    2332.59
3004    1997.90
3009    1469.18
Name: total_sales_amount, dtype: float64

In [21]:
# Top 5 Customers
df_merged = df_2023.merge(df_customers, left_on='customer_id', right_on='id')
q2 = df_merged.groupby('name')['total_sales_amount'].sum().sort_values(ascending=False).head(5)
q2

name
j7lXV1P2Mo    1141.54
jRiNoSMORL     957.64
g8f5j8VUxl     944.44
KwrIays2uS     907.50
miTbp86xy6     757.60
Name: total_sales_amount, dtype: float64

In [22]:
# Avg Order Value per Month
q3 = df_2023.groupby('month')['total_sales_amount'].mean().sort_index()
q3

month
1     251.226667
2     252.846250
3     205.260000
4     154.580000
5     276.138000
6     321.078000
7     260.682500
8     306.292857
9     273.847500
10    126.480000
11    174.512500
12    274.378750
Name: total_sales_amount, dtype: float64

In [23]:
# Highest Volume Customer
df_oct = df_merged[df_merged['month'] == 10]
q4 = df_oct['name'].value_counts().head(1)
q4

name
g8f5j8VUxl    2
Name: count, dtype: int64

THE RESULTS MATCH THE OUTPUT.